{% extends "sistema_2/layout_1.html" %}

{% block content%}
<div class="attendance">
    <div class="attendance-list">
    <h1>AGREGAR USUARIO</h1>
    <a class="add-elemento" href="{% url 'sistema_2:usuarios' %}">Ver usuarios</a>
    <form action="{% url 'sistema_2:add_user' %}" method="post">
        {% csrf_token %}
        <div>
            {% for campo in form_user %}
                <div class="add-datos">
                    <label>{{ campo.label }}</label>
                    <div class="go-datos">{{ campo }}</div>
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Agregar">
    </form>
    </div>
</div>
{% endblock %}