{% extends "sistema_2/layout_3.html" %}

{% load static %}

{% block code %}

<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="{% static 'sistema_2/clientes.js' %}"></script>
<script>
  function get_info_cliente()
  {
    let rucInfo = document.getElementById('nuevoRuc')
    let ruc = rucInfo.value
    let url = '/sistema_2/obtener_datos_ruc/' + ruc
    async function get_data() 
    {
        const res = await fetch(url,{
              method:"GET",
              headers: 
              {
                  "X-Requested-With": "XMLHttpRequest",
              },
          })
        cliente_info=await res.json()
        console.log(cliente_info)
        if(cliente_info.indicador === '1')
        {
          let domicilioInfo = document.getElementById('nuevaDireccion')
          let razonInfo = document.getElementById('nuevaRazon')
          domicilioInfo.value = cliente_info.domicilioFiscal
          razonInfo.value = cliente_info.razonSocial
        }
    }
    get_data()
  }

  function eliminarInfo()
  {
    let nuevoRuc = document.getElementById('nuevoRuc')
    let nuevoDni = document.getElementById('nuevoDni')
    let nuevoNombre = document.getElementById('nuevoNombre')
    let nuevoApellido = document.getElementById('nuevoApellido')
    let nuevoRazon = document.getElementById('nuevaRazon')
    let nuevoEmail = document.getElementById('nuevoEmail')
    let nuevoContacto = document.getElementById('nuevoContacto')
    let nuevoTelefono = document.getElementById('nuevoTelefono')
    let nuevoDireccion = document.getElementById('nuevaDireccion')

    nuevoRuc.value = ''
    nuevoNombre.value = ''
    nuevoDni.value = ''
    nuevoApellido.value = ''
    nuevoRazon.value = ''
    nuevoEmail.value = ''
    nuevoContacto.value = ''
    nuevoTelefono.value = ''
    nuevoDireccion.value = ''
  }
</script>

{% endblock %}


{% block content%}

<div class="container" style="height: 100vh;overflow: scroll;">
  <h1>Clientes</h1>
  <div>
      <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#nuevoCli">Nuevo <i class="fa fa-plus"></i></a>
  </div>
  <br>
  <div>
      <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#importarCli">Importar<i class="fas fa-file-import"></i></a>
  </div>
  <br>
  <div>
    <table class="table table-bordered table-hover" id="clientesTable" style="font-size: 12px;">
      <thead class="table-dark">
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Razon Social</th>
              <th scope="col">DNI</th>
              <th scope="col">RUC</th>
              <th scope="col">Email</th>
              <th scope="col">Contacto</th>
              <th scope="col">Telefono</th>
              <th scope="col">Direccion fiscal</th>
              <th scope="col">Direcciones</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
          </tr>
      </thead>
      <tbody>
        {% for cliente in cli %}
          <tr>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.apellido }}</td>
              <td>{{ cliente.razon_social }}</td>
              <td>{{ cliente.dni }}</td>
              <td>{{ cliente.ruc }}</td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.contacto }}</td>
              <td>{{ cliente.telefono }}</td>
              <td>{{ cliente.direccion_fiscal }}</td>
              <td style="text-align: center;"><a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#direcciones{{ cliente.id }}"><i class="fa fa-eye"></i></a></td>
              <td style="text-align: center;"><a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#cliente{{ cliente.id }}"><i class="fa fa-edit"></i></a></td>
              <td style="text-align: center;"><a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar{{ cliente.id }}"><i class="fa fa-trash"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% for cliente in cli %}
<div class="modal fade" tabindex="-1" role="dialog" id="eliminar{{ cliente.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Esta seguro que dese eliminar este cliente?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger" href="{% url 'sistema_2:eliminar_cliente' cliente.id %}">Eliminar</a>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for cliente in cli %}
<div class="modal fade" tabindex="-1" role="dialog" id="direcciones{{ cliente.id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Direcciones del cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'sistema_2:agregar_direcciones' cliente.id %}">
      {% csrf_token %}
      <div class="modal-body">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">Direcciones de entrega</th>
            </tr>
          </thead>
          <tbody>
          {% for direccion in cliente.direcciones %}
            <tr>
              <td>{{ direccion }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div>
          <div class="row mb-3">
            <div class="col-md-12">
              <label>Direccion de entrega</label>
              <input type="text" class="form-control" required name="direccion" placeholder="Direccion,Distrito,Provincia,Departamento ...">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" id="direccion{{cliente.id}}" name="{{ cliente.id }}">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}


{% for cliente in cli %}
<div class="modal fade" tabindex="-1" role="dialog" id="cliente{{ cliente.id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Campos obligatorios (*)</h6>
        <br>
        <form method="post" action="{% url 'sistema_2:actualizar_cliente' cliente.id %}">
        {% csrf_token %}
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Ruc</label>
              <input type="text" class="form-control" name="ruc" value="{{ cliente.ruc }}">
            </div>
            <div class="col-md-6">
              <label>Dni</label>
              <input type="text" class="form-control" name="dni" value="{{ cliente.dni }}">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Nombre</label>
              <input type="text" class="form-control" name="nombre" value="{{ cliente.nombre }}">
            </div>
            <div class="col-md-6">
              <label>Apellido</label>
              <input type="text" class="form-control" name="apellido" value="{{ cliente.apellido }}">
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Razon social</label>
              <input type="text" class="form-control" name="razon" value="{{ cliente.razon_social }}">
            </div>
            <div class="col-md-6">
              <label>Email</label>
              <input type="text" class="form-control" name="email" value="{{ cliente.email }}">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Contacto</label>
              <input type="text" class="form-control" name="contacto" value="{{ cliente.contacto }}">
            </div>
            <div class="col-md-6">
              <label>Telefono</label>
              <input type="text" class="form-control" name="telefono" value="{{ cliente.telefono }}" >
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <label>Direccion fiscal (*)</label>
              <input type="text" class="form-control" required name="direccion" value="{{ cliente.direccion_fiscal }}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="importarCli">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Importar Clientes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'sistema_2:importar_clientes' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <input class="form-control" type="file" id="formFile" name="MyFile">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Importar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="nuevoCli">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="eliminarInfo()"></button>
      </div>
      <div class="modal-body">
        <h6>Campos obligatorios (*)</h6>
        <br>
        <form method="post" action="{% url 'sistema_2:clientes' %}">
        {% csrf_token %}
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Ruc (*)</label>
              <input type="text" class="form-control" name="ruc" id="nuevoRuc">
            </div>
            <div class="col-md-6">
              <label>Dni (*)</label>
              <input type="text" class="form-control" name="dni" id="nuevoDni">
            </div>
          </div>
          <button type="button" onclick="get_info_cliente()" class="btn btn-primary">Consultar RUC</button>
          <br>
          <br>
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Nombre (*)</label>
              <input type="text" class="form-control" name="nombre" id="nuevoNombre">
            </div>
            <div class="col-md-6">
              <label>Apellido (*)</label>
              <input type="text" class="form-control" name="apellido" id="nuevoApellido">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Razon social (*)</label>
              <input type="text" class="form-control" name="razon" id="nuevaRazon">
            </div>
            <div class="col-md-6">
              <label>Email (*)</label>
              <input type="text" class="form-control" name="email" id="nuevoEmail">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Contacto</label>
              <input type="text" class="form-control" name="contacto" id="nuevoContacto">
            </div>
            <div class="col-md-6">
              <label>Telefono</label>
              <input type="text" class="form-control" name="telefono" id="nuevoTelefono">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label>Direccion fiscal (*)</label>
              <input type="text" class="form-control" required name="direccion" id="nuevaDireccion">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="eliminarInfo()">Cancelar</button>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}