{% extends "sistema_2/layout_3.html" %}

{% load static %}

{% block code %}

<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">

<script src="{% static 'sistema_2/cotizaciones.js' %}"></script>

{% endblock %}


{% block content%}
<div class="container" style="height: 100vh;overflow: scroll;">
    <h1 style="font-size: 30px;">Comisiones</h1>
    <!--Filtros de busqueda-->
    <br>
    <div>
        <form class="row" method="post" action="{% url 'sistema_2:comisiones' %}" style="font-size: 15px;">
        {% csrf_token %}
            <div class="col-md-2">
                {% if tipoUsuario == 'Admin' %}
                    <label>Seleccionar usuario</label>
                    <select class="selectpicker form-control" name="id_vendedor" style="font-size: 12px;">
                        <option value="0" style="font-size: 12px;">Seleccionar</option>
                    {% for usuario in usuariosInfo %}
                        {% if usuario.codigo == id_vendedor %}
                            <option value="{{ usuario.id }}" selected style="font-size: 12px;">{{ usuario.codigo }}</option>
                        {% else %}
                            <option value="{{ usuario.id }}" style="font-size: 12px;">{{ usuario.codigo }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                {% endif %}
                {% if tipoUsuario == 'Vendedor' %}
                    <label>Seleccionar usuario</label>
                    <select class="selectpicker form-control" name="id_vendedor" style="font-size: 12px;">
                        <option value="0" style="font-size: 12px;">Seleccionar</option>
                    {% for usuario in usuariosInfo %}
                        {% if usuario.codigo == usuarioSistema %}
                            <option value="{{ usuario.id }}" selected style="font-size: 12px;">{{ usuario.codigo }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                {% endif %}                
            </div>
            <div class="col-md-2">
                <label>Mes :</label>
                <select class="selectpicker form-control" name="monthInfo" style="font-size: 12px;">
                    {% if month_filter == '01' %}
                        <option value="1" selected>Enero</option>
                    {% else %}
                        <option value="1">Enero</option>
                    {% endif %}
                    {% if month_filter == '02' %}
                        <option value="2" selected>Febrero</option>
                    {% else %}
                        <option value="2">Febrero</option>
                    {% endif %}
                    {% if month_filter == '03' %}
                        <option value="3" selected>Marzo</option>
                    {% else %}
                        <option value="3">Marzo</option>
                    {% endif %}
                    {% if month_filter == '04' %}
                        <option value="4" selected>Abril</option>
                    {% else %}
                        <option value="4">Abril</option>
                    {% endif %}
                    {% if month_filter == '05' %}
                        <option value="5" selected>Mayo</option>
                    {% else %}
                        <option value="5">Mayo</option>
                    {% endif %}
                    {% if month_filter == '06' %}
                        <option value="6" selected>Junio</option>
                    {% else %}
                        <option value="6">Junio</option>
                    {% endif %}
                    {% if month_filter == '07' %}
                        <option value="7" selected>Julio</option>
                    {% else %}
                        <option value="7">Julio</option>
                    {% endif %}
                    {% if month_filter == '08' %}
                        <option value="8" selected>Agosto</option>
                    {% else %}
                        <option value="8">Agosto</option>
                    {% endif %}
                    {% if month_filter == '09' %}
                        <option value="9" selected>Septiembre</option>
                    {% else %}
                        <option value="9">Septiembre</option>
                    {% endif %}
                    {% if month_filter == '10' %}
                        <option value="10" selected>Octubre</option>
                    {% else %}
                        <option value="10">Octubre</option>
                    {% endif %}
                    {% if month_filter == '11' %}
                        <option value="11" selected>Noviembre</option>
                    {% else %}
                        <option value="11">Noviembre</option>
                    {% endif %}
                    {% if month_filter == '12' %}
                        <option value="12" selected>Diciembre</option>
                    {% else %}
                        <option value="12">Diciembre</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-md-2">
                <label>Año :</label>
                <select class="selectpicker form-control" name="yearInfo">
                    {% if year_filter == '2022' %}
                        <option value="2022" selected>2022</option>
                    {% else %}
                        <option value="2022">2022</option>
                    {% endif %}
                    {% if year_filter == '2023' %}
                        <option value="2023" selected>2023</option>
                    {% else %}
                        <option value="2023">2023</option>
                    {% endif %}
                    {% if year_filter == '2024' %}
                        <option value="2024" selected>2024</option>
                    {% else %}
                        <option value="2024">2024</option>
                    {% endif %}
                </select> 
            </div>
            <div class="col-md-1">
                <br>
                <button type="submit" class="btn btn-success" name="Filtrar">Filtrar</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <br>
                <button type="submit" class="btn btn-success" name="Exportar">Exportar</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <!--Tabla de resultados-->
    <table class="table table-bordered table-hover" id="proformasTable" style="font-size: 12px;">
        <thead class="table-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Banco</th>
                <th scope="col">Cliente</th>
                <th scope="col">Comprobante</th>
                <th scope="col">Cotizacion</th>
                <th scope="col">Nro de operacion</th>
                <th scope="col">Nro de operacion 2</th>
            </tr>
        </thead>
        <tbody>
            {% for abono in operacionesVendedor %}
            <tr>
                <td>{{ abono.fechaAbono|date:'d-m-Y' }}</td>
                <td>{{ abono.datos_banco.1 }}-{{ abono.datos_banco.2 }}</td>
                <td>{{ abono.datos_cliente.1 }}</td>
                <td>{{ abono.codigo_comprobante }}</td>
                <td>{{ abono.codigo_coti }}</td>
                <th>{{ abono.nro_operacion }}</th>
                <th>{{ abono.nro_operacion_2 }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--Resumen de los resultados-->
    <div style="font-size: 12px;">
        <p>El monto total en ventas en soles sin IGV para el vendedor {{ id_vendedor }} es S/. {{ monto_total }}</p>
        <p>y la comision registrada es S/. {{ monto_comision }}</p>
    </div>
</div>
{% endblock %}