{% extends "sistema_2/layout_3.html" %}
{% load static %}


{% block code %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        let grafClientes = document.getElementById('grafClientes')
        let grafProductos = document.getElementById('grafProductos')
        let grafVendedor = document.getElementById('grafVendedor')
        let grafVentas = document.getElementById('grafVentas')

        let tablaClientes = new Chart(grafClientes,{
            type:'bar',
            data:{
                labels:[],
                datasets:[{
                    label:'Clientes con mas ventas',
                    backgroundColor:'#0275d8',
                    data:[],
                }]
            }
        })

        let tablaProductos = new Chart(grafProductos,{
            type:'bar',
            data:{
                labels:[],
                datasets:[{
                    label:'Productos mas vendidos',
                    backgroundColor:'#0275d8',
                    data:[],
                }]
            }
        })

        let tablaVendedor = new Chart(grafVendedor,{
            type:'bar',
            data:{
                labels:[],
                datasets:[{
                    label:'Grafica de vendedores',
                    backgroundColor:'#0275d8',
                    data:[],
                }]
            }
        })

        let tablaVentas = new Chart(grafVentas,{
            type:'bar',
            data:{
                labels:[],
                datasets:[{
                    label:'Grafica de ventas',
                    backgroundColor:'#0275d8',
                    data:[],
                }]
            }
        })

        fetch('/sistema_2/get_clients_statistics/10')
        .then(response => response.json())
        .then(data => {
            tablaClientes.data.labels = data.clientes_mas_ventas.slice(0,10)
            tablaClientes.data.datasets[0].data = data.ventas_clientes.slice(0,10)
            tablaClientes.update()
        })

        fetch('/sistema_2/get_products_statistics/10')
        .then(response => response.json())
        .then(data => {
            console.log(data)
            tablaProductos.data.labels = data.productos_mas_ventas.slice(0,10)
            tablaProductos.data.datasets[0].data = data.ventas_productos.slice(0,10)
            tablaProductos.update()
        })

        fetch('/sistema_2/get_vendedor_statistics/10')
        .then(response => response.json())
        .then(data => {
            console.log(data)
            tablaVendedor.data.labels = data.vendedor_mas_ventas.slice(0,10)
            tablaVendedor.data.datasets[0].data = data.ventas_vendedor.slice(0,10)
            tablaVendedor.update()
        })

        fetch('/sistema_2/get_ventas_meses/10')
        .then(response => response.json())
        .then(data => {
            console.log(data)
            tablaVentas.data.labels = data.lista_meses.slice(0,10)
            tablaVentas.data.datasets[0].data = data.ventas_meses.slice(0,10)
            tablaVentas.update()
        })

        

        let btnFiltrarClientes = document.getElementById('filtrarClientes')
        btnFiltrarClientes.addEventListener('click',modificarTablaClientes)

        let btnFiltrarProductos = document.getElementById('filtrarProductos')
        btnFiltrarProductos.addEventListener('click',modificarTablaProductos)

        let btnFiltrarVendedor = document.getElementById('filtrarVendedor')
        btnFiltrarVendedor.addEventListener('click',modificarTablaVendedor)

        let btnFiltrarVentas = document.getElementById('filtrarVentas')
        btnFiltrarVentas.addEventListener('click',modificarTablaVentas)

        function modificarTablaClientes()
        {
            let filtroClientes = document.getElementById('filtroClientes')

            fetch(`/sistema_2/get_clients_statistics/${filtroClientes.value}`)
            .then(response => response.json())
            .then(data => {
                tablaClientes.data.labels = data.clientes_mas_ventas.slice(0,parseInt(filtroClientes.value))
                tablaClientes.data.datasets[0].data = data.ventas_clientes.slice(0,parseInt(filtroClientes.value))
                tablaClientes.update()
            })
        }

        function modificarTablaProductos()
        {
            let filtroProductos = document.getElementById('filtroProductos')

            fetch(`/sistema_2/get_products_statistics/${filtroProductos.value}`)
            .then(response => response.json())
            .then(data => {
                tablaProductos.data.labels = data.productos_mas_ventas.slice(0,parseInt(filtroProductos.value))
                tablaProductos.data.datasets[0].data = data.ventas_productos.slice(0,parseInt(filtroProductos.value))
                tablaProductos.update()
            })
        }

        function modificarTablaVendedor()
        {
            let filtroVendedor = document.getElementById('filtroVendedor')

            fetch(`/sistema_2/get_vendedor_statistics/${filtroVendedor.value}`)
            .then(response => response.json())
            .then(data => {
                tablaVendedor.data.labels = data.vendedor_mas_ventas.slice(0,parseInt(filtroVendedor.value))
                tablaVendedor.data.datasets[0].data = data.ventas_vendedor.slice(0,parseInt(filtroVendedor.value))
                tablaVendedor.update()
            })
        }

        function modificarTablaVentas()
        {
            let filtroVentas = document.getElementById('filtroVentas')

            fetch(`/sistema_2/get_ventas_meses/${filtroVentas.value}`)
            .then(response => response.json())
            .then(data => {
                tablaVentas.data.labels = data.lista_meses.slice(0,parseInt(filtroVentas.value))
                tablaVentas.data.datasets[0].data = data.ventas_meses.slice(0,parseInt(filtroVentas.value))
                tablaVentas.update()
            })
        }
    })
</script>
{% endblock %}


{% block content %}

<div class="row mb-3">
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select class="form-select" id="filtroClientes">
                    <option value="10">Top 10</option>
                    <option value="5">Top 5</option>
                    <option value="3">Top 3</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="filtrarClientes">Filtrar</button>
            </div>
        </div>
        <canvas width="200" height="100" id="grafClientes"></canvas>
    </div>
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select class="form-select" id="filtroProductos">
                    <option value="10">Top 10</option>
                    <option value="5">Top 5</option>
                    <option value="3">Top 3</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="filtrarProductos">Filtrar</button>
            </div>
        </div>
        <canvas width="200" height="100" id="grafProductos"></canvas>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select class="form-select" id="filtroVendedor">
                    <option value="10">Top 10</option>
                    <option value="5">Top 5</option>
                    <option value="3">Top 3</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="filtrarVendedor">Filtrar</button>
            </div>
        </div>
        <canvas width="200" height="100" id="grafVendedor"></canvas>
    </div>
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select class="form-select" id="filtroVentas">
                    <option value="10">Top 10</option>
                    <option value="5">Top 5</option>
                    <option value="3">Top 3</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="filtrarVentas">Filtrar</button>
            </div>
        </div>
        <canvas width="200" height="100" id="grafVentas"></canvas>
    </div>
</div>

{% endblock %}


<!--
    Dashboard METALPROTEC
    Venta mensuales, Ventas por categoria, Ranking por clientes
    Ranking de productos
    Filtros - Año,Mes
-->