{% extends "sistema_2/layout_3.html" %}
{% load static %}


{% block code %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        let grafVendedor = document.getElementById('grafVendedor')
        let grafVentas = document.getElementById('grafVentas')


        let tablaVendedor = new Chart(grafVendedor,{
            type:'bar',
            options:{
                scales:{
                    x:{
                        grid:{
                            display: false,
                        },
                    },
                    y:{
                        grid:{
                            display: false,
                        },
                    },
                },
            },
            data:{
                labels:[],
                datasets:[{
                    label:'Soles',
                    backgroundColor:'#0275d8',
                    data:[],
                },
                {
                    label:'Dolares',
                    backgroundColor:'red',
                    data:[],
                }]
            }
        })

        let tablaVentas = new Chart(grafVentas,{
            type:'bar',
            options:{
                scales:{
                    x:{
                        grid:{
                            display: false,
                        },
                    },
                    y:{
                        grid:{
                            display: false,
                        },
                    },
                },
            },
            data:{
                labels:[],
                datasets:[{
                    label:'Grafica de ventas',
                    backgroundColor:'#0275d8',
                    data:[],
                }]
            }
        })

        fetch('/sistema_2/get_clients_statistics?cantidad=10&tiempo=0')
        .then(response => response.json())
        .then(data => {
            console.log(data.clientes_mas_ventas)
            console.log(data.ventas_clientes)
            tablaClientes = document.getElementById('tablaClientes')
            tablaClientes.innerHTML = ''
            for(var i = 0; i < data.clientes_mas_ventas.length; i++)
            {
                let nuevaFila = `
                        <tr>
                            <td>${data.clientes_mas_ventas[i]}</td>
                            <td>${data.razon_clientes[i]}</td>
                            <td>${data.ventas_clientes[i]}</td>
                        </tr>`;
                tablaClientes.innerHTML += nuevaFila
            }
        })

        fetch('/sistema_2/get_products_statistics?cantidad=10&tiempo=0')
        .then(response => response.json())
        .then(data => {
            console.log(data)
            tablaProductos = document.getElementById('tablaProductos')
            tablaProductos.innerHTML=''
            for(var i = 0; i < data.productos_mas_ventas.length; i++)
            {
                let nuevaFila = `
                        <tr>
                            <td>${data.productos_mas_ventas[i]}</td>
                            <td>${data.nombres_productos[i]}</td>
                            <td>${data.ventas_productos[i]}</td>
                        </tr>`;
                tablaProductos.innerHTML += nuevaFila
            }
        })

        fetch('/sistema_2/get_vendedor_statistics?cantidad=10&tiempo=0&soles=1&dolares=0')
        .then(response => response.json())
        .then(data => {
            console.log(data)
            tablaVendedor.data.labels = data.vendedor_mas_ventas.slice(0,10)
            tablaVendedor.data.datasets[0].data = data.ventas_vendedor.slice(0,10)
            tablaVendedor.update()
        })

        fetch('/sistema_2/get_ventas_meses/10')
        .then(response => response.json())
        .then(data => {
            console.log(data)
            tablaVentas.data.labels = data.lista_meses.slice(0,10)
            tablaVentas.data.datasets[0].data = data.ventas_meses.slice(0,10)
            tablaVentas.update()
        })

        

        let btnFiltrarClientes = document.getElementById('filtrarClientes')
        btnFiltrarClientes.addEventListener('click',modificarTablaClientes)

        let btnFiltrarProductos = document.getElementById('filtrarProductos')
        btnFiltrarProductos.addEventListener('click',modificarTablaProductos)

        let btnFiltrarVendedor = document.getElementById('filtrarVendedor')
        btnFiltrarVendedor.addEventListener('click',modificarTablaVendedor)

        let btnFiltrarVentas = document.getElementById('filtrarVentas')
        btnFiltrarVentas.addEventListener('click',modificarTablaVentas)

        function modificarTablaClientes()
        {
            let filtroClientes = document.getElementById('filtroClientes')
            let mesesClientes = document.getElementById('mesesClientes')
            let tablaClientes = document.getElementById('tablaClientes')

            fetch(`/sistema_2/get_clients_statistics?cantidad=${filtroClientes.value}&tiempo=${mesesClientes.value}`)
            .then(response => response.json())
            .then(data => {
                tablaClientes.innerHTML = ''
                for(var i = 0; i < data.clientes_mas_ventas.length; i++)
                {
                    let nuevaFila = `
                            <tr>
                                <td>${data.clientes_mas_ventas[i]}</td>
                                <td>${data.razon_clientes[i]}</td>
                                <td>${data.ventas_clientes[i]}</td>
                            </tr>`;
                    tablaClientes.innerHTML += nuevaFila
                }
            })
        }

        function modificarTablaProductos()
        {
            let filtroProductos = document.getElementById('filtroProductos')
            let mesesProductos = document.getElementById('mesesProductos')
            let tablaProductos = document.getElementById('tablaProductos')

            fetch(`/sistema_2/get_products_statistics?cantidad=${filtroProductos.value}&tiempo=${mesesProductos.value}`)
            .then(response => response.json())
            .then(data => {
                tablaProductos.innerHTML = ''
                for(var i = 0; i < data.productos_mas_ventas.length; i++)
                {
                    let nuevaFila = `
                            <tr>
                                <td>${data.productos_mas_ventas[i]}</td>
                                <td>${data.nombres_productos[i]}</td>
                                <td>${data.ventas_productos[i]}</td>
                            </tr>`;
                    tablaProductos.innerHTML += nuevaFila
                }
            })
        }

        function modificarTablaVendedor()
        {
            let filtroVendedor = document.getElementById('filtroVendedor')
            let mesesVendedor = document.getElementById('mesesVendedor')
            let vendedorSoles = document.getElementById('vendedorSoles')
            let vendedorDolares= document.getElementById('vendedorDolares')
            let datoSoles = '0'
            let datoDolares = '0'

            console.log(vendedorSoles.checked)
            console.log(vendedorDolares.checked)

            if(vendedorSoles.checked)
            {
                datoSoles = '1'
            }
            else
            {
                datoSoles = '0'
            }

            if(vendedorDolares.checked)
            {
                datoDolares = '1'
            }
            else
            {
                datoDolares = '0'
            }

            console.log(datoDolares)
            console.log(datoSoles)

            fetch(`/sistema_2/get_vendedor_statistics?cantidad=${filtroVendedor.value}&tiempo=${mesesVendedor.value}&soles=${datoSoles}&dolares=${datoDolares}`)
            .then(response => response.json())
            .then(data => {
                tablaVendedor.data.labels = data.vendedor_mas_ventas.slice(0,parseInt(filtroVendedor.value))
                if(datoSoles === '1' && datoDolares === '1')
                {
                    console.log(data)
                    tablaVendedor.data.datasets[0].data = data.ventas_vendedor.slice(0,parseInt(filtroVendedor.value))
                    tablaVendedor.data.datasets[1].data = data.ventas_vendedor_dolares.slice(0,parseInt(filtroVendedor.value))
                }
                else if(datoSoles === '1' &&  datoDolares === '0')
                {
                    tablaVendedor.data.datasets[0].data = data.ventas_vendedor.slice(0,parseInt(filtroVendedor.value))
                    tablaVendedor.data.datasets[1].data = []
                }
                else if(datoSoles === '0' &&  datoDolares === '1')
                {
                    tablaVendedor.data.datasets[0].data = []
                    tablaVendedor.data.datasets[1].data = data.ventas_vendedor_dolares.slice(0,parseInt(filtroVendedor.value))
                }
                else{
                    tablaVendedor.data.datasets[0].data = []
                    tablaVendedor.data.datasets[1].data = []
                }
                
                tablaVendedor.update()
            })
        }

        function modificarTablaVentas()
        {
            let filtroVentas = document.getElementById('filtroVentas')

            fetch(`/sistema_2/get_ventas_meses/${filtroVentas.value}`)
            .then(response => response.json())
            .then(data => {
                tablaVentas.data.labels = data.lista_meses.slice(0,parseInt(filtroVentas.value))
                tablaVentas.data.datasets[0].data = data.ventas_meses.slice(0,parseInt(filtroVentas.value))
                tablaVentas.update()
            })
        }
    })
</script>
{% endblock %}


{% block content %}

<div class="row mb-3">
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <select class="form-select" id="filtroClientes">
                    <option value="10">Top 10</option>
                    <option value="5">Top 5</option>
                    <option value="3">Top 3</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select" id="mesesClientes">
                    <option value="0">Presente mes</option>
                    <option value="1">Ultimo mes</option>
                    <option value="3">Ultimos 3 meses</option>
                    <option value="6">Ultimos 6 meses</option>
                    <option value="12">Ultimo año</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="filtrarClientes">Filtrar</button>
            </div>
        </div>
        <div class="container" style="font-size: 10px;">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <th>Ruc</th>
                    <th>Razon social</th>
                    <th>Valor vendido</th>
                </thead>
                <tbody id="tablaClientes">

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select class="form-select" id="filtroProductos">
                    <option value="10">Top 10</option>
                    <option value="5">Top 5</option>
                    <option value="3">Top 3</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select" id="mesesProductos">
                    <option value="0">Presente mes</option>
                    <option value="1">Ultimo mes</option>
                    <option value="3">Ultimos 3 meses</option>
                    <option value="6">Ultimos 6 meses</option>
                    <option value="12">Ultimo año</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="filtrarProductos">Filtrar</button>
            </div>
        </div>
        <div class="container" style="font-size: 10px;">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <th>Codigo</th>
                    <th>Pr</th>
                    <th>Valor vendido</th>
                </thead>
                <tbody id="tablaProductos">

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-3 px-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="vendedorSoles" checked>
                    <label class="form-check-label" style="font-size: 15px;">Soles</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="vendedorDolares">
                    <label class="form-check-label" style="font-size: 15px;">Dolares</label>
                </div>
            </div>
            <div class="col-md-3">
                <select class="form-select" id="filtroVendedor">
                    <option value="10">Top 10</option>
                    <option value="5">Top 5</option>
                    <option value="3">Top 3</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select" id="mesesVendedor">
                    <option value="0">Presente mes</option>
                    <option value="1">Ultimo mes</option>
                    <option value="3">Ultimos 3 meses</option>
                    <option value="6">Ultimos 6 meses</option>
                    <option value="12">Ultimo año</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="filtrarVendedor">Filtrar</button>
            </div>
        </div>
        <canvas width="200" height="100" id="grafVendedor"></canvas>
    </div>
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select class="form-select" id="filtroVentas">
                    <option value="10">Ultimos 10 meses</option>
                    <option value="5">Ultimos 5 meses</option>
                    <option value="3">Ultimos 3 meses</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="filtrarVentas">Filtrar</button>
            </div>
        </div>
        <canvas width="200" height="100" id="grafVentas"></canvas>
    </div>
</div>

{% endblock %}