{% extends "sistema_2/layout_1.html" %}

{% block content%}
<section class="attendance">
    <div class="attendance-list">
      <h1 class="cabecera">FACTURAS</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Valor total</th>
            <th>Estado</th>
            <th>Ver</th>
            <th>Descargar</th>
          </tr>
        </thead>
        <tbody>
           {% for proforma in fac %}
                <tr>
                    <td>{{ proforma.id }}</td>
                    <td>{{ proforma.fac_cliente.3 }}</td>
                    <td>{{ proforma.fac_fecha }}</td>
                    <td>{{ proforma.fac_valor_total }}</td>
                    <td>{{ proforma.fac_estado }}</td>
                    <td>
                      {% if proforma.fac_estado != 'Emitida' %}
                        <a href="{% url 'sistema_2:ver_factura' proforma.id %}">Ver</a></td>
                      {% else %}
                        {{ proforma.fac_estado }}
                      {% endif %}
                    <td>
                      {% if proforma.fac_estado == 'Emitida' %}
                        <a href="{% url 'sistema_2:descargar_factura' proforma.id %}">Descargar</a>
                      {% endif %}
                    </td>
                </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
</section>
{% endblock %}