{% extends "sistema_2/layout_3.html" %}

{% load static %}

{% block code %}

<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="{% static 'sistema_2/factura.js' %}"></script>

{% endblock %}


{% block content%}

<div class="container" style="height: 100vh;overflow: scroll;">
  <h1>Facturas</h1>
  <br>
  <br>
  <div>
    <form class="row g-12" method="post" action="{% url 'sistema_2:fact' %}">
    {% csrf_token %}
        <div class="col-md-2">
            <label>Fecha inicial</label>
            <input type="date" class="form-control col-md-1" name="fecha_inicio" value="{{ fecha_inicial }}">
        </div>
        <div class="col-md-2">
            <label>Fecha final</label>
            <input type="date" class="form-control col-md-1" name="fecha_fin" value="{{ fecha_final }}">
        </div>
        <div class="col-md-1">
          <br>
          <button type="submit" class="btn btn-success" name="Filtrar">Filtrar</button>
        </div>
        <!--
        <div class="col-md-2">
          <br>
          <button type="submit" class="btn btn-success" name="Exportar">Exportar Excel</button>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-success" name="detalle">Exportar Excel detallado</button>
        </div>
        -->
        <div class="col-md-2">
          <br>
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Exportar excel
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><button type="submit" class="dropdown-item" name="Exportar">General</button></li>
              <li><button type="submit" class="dropdown-item" name="detalle">Detallado</button></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <br>
          <a class="btn btn-success float-end" style="color: white;" href="{% url 'sistema_2:fact' %}">Reestablecer</a>
        </div>
    </form>
  </div>
  <br>
  <table class="table table-bordered table-hover" id="facturasTable" style="font-size: 12px;">
      <thead class="table-dark">
          <tr>
              <th scope="col">Cliente</th>
              <th scope="col">Codigo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
              <th scope="col">Editar</th>
              <th scope="col">Descargar factura</th>
              <th scope="col">Enviar a teFacturo</th>
              <th scope="col">Verificar estado</th>
              <th scope="col">Estado teFacturo</th>
              <th scope="col">Emitir nota de credito</th>
          </tr>
      </thead>
      <tbody>
        {% for factura in fac %}
          <tr>
              {% if factura.cliente.1 == '' %}
              <td>{{ factura.cliente.3 }}</td>
              {% else %}
              <td>{{ factura.cliente.1 }} {{ factura.cliente.2 }}</td>
              {% endif %}
              <td>{{ factura.codigoFactura }}</td>
              <td>{{ factura.fechaFactura }}</td>
              <td>
                {% if factura.estadoFactura == 'Generada' %}
                    <div class="bg-success rounded-pill" style="color: white; padding: 1px 6px 1px 6px; text-align: center;">{{ factura.estadoFactura }}</div>
                {% endif %}
                {% if factura.estadoFactura == 'Enviada' %}
                    <div class="bg-primary rounded-pill" style="color: white; padding: 1px 6px 1px 6px; text-align: center;">{{ factura.estadoFactura }}</div>
                {% endif %}
                {% if factura.estadoFactura == 'Anulada' %}
                    <div class="bg-danger rounded-pill" style="color: white; padding: 1px 6px 1px 6px; text-align: center;">{{ factura.estadoFactura }}</div>
                {% endif %}
              </td>
              <td style="text-align: center;">
                  <a class="btn btn-warning" href="{% url 'sistema_2:editar_factura' factura.id %}"><i class="fa fa-edit"></i></a>
              </td>
              {% if factura.estadoFactura == 'Enviada' %}
                <td style="text-align: center;"><a class="btn btn-info" href="{% url 'sistema_2:download_factura' factura.id %}"><i class="fas fa-download"></i></a></td>
              {% else %}
                <td></td>
              {% endif %}
                <td style="text-align: center;">
                {% if factura.estadoFactura == 'Generada' %}
                <a class="btn btn-success" href="{% url 'sistema_2:enviar_factura' factura.id %}"><i class="fas fa-arrow-right"></i></a>
                {% endif %}
              </td>
              {% if factura.estadoFactura == 'Enviada' %}
              <td style="text-align: center;"><button class="btn btn-success verificacionInfo" style="padding: 0 0 0 0;" onclick="deshabilitarVerificacion()"><a class="btn btn-success" href="{% url 'sistema_2:verificar_factura_teFacturo' factura.id %}"><i class="fa fa-check"></i></a></button></td>
              {% else %}
              <td></td>
              {% endif %}
              <td>{{ factura.estadoSunat }}</td>
              <td style="text-align: center;">
                {% if factura.estadoSunat == 'Aceptado' or factura.estadoSunat == 'Aceptado con Obs.' %}
                <a class="btn btn-danger" id="{{ factura.id }}" style="font-size: 11px;" data-bs-toggle="modal" data-bs-target="#notaCredito" onclick="generarNota(this.id)">NC</a>
                {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% for factura in fac %}
<div class="modal fade" tabindex="-1" id="guiaGen{{ factura.id }}" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="model-title">Generar guia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for producto in factura.productos %}
        <div class="form-check proFact{{ factura.id }}" data-id="{{producto.0}}">
          <!--{% if producto.9 == '1' %}
            <input class="form-check-input" type="checkbox" disabled>
          {% endif %}
          {% if producto.9 == '0' %}
            <input class="form-check-input" type="checkbox">
          {% endif %}-->
          <input type="number" step="1" value="0" max="{{ producto.10 }}" min="0" style="width: 60px; height: 30px; font-size: 10px; display: inline;" class="form-control">
          <label style="font-size: 12px; display: inline;">{{ producto.1 }}</label>
        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary generar" data-fact="{{ factura.id }}" >Generar</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!--Crear nota de credito-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="notaCredito">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Generar nota de credito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 style="display:none;" id="facturaId"></h4>
        <div class="row">
          <div class="col-4">
            <label>Tipo de nota :</label>
          </div>
          <div class="col-6">
            <select id="tipoNota" class="form-select">
              <option value="Total">Total</option>
              <option value="Parcial">Parcial</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <table class="table table-bordered" id="tablaNota">
            <thead class="table-dark">
              <th>Producto</th>
              <th>Código</th>
              <th>Cantidad</th>
              <th>Eliminar</th>
            </thead>
            <tbody id="productosNota">
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="emitirNota()">Emitir</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="eliminarInfo()">Cancelar</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}