{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>METALPROTECT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'sistema_2/style_3.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    {% block info %}
    {% endblock %}
</head>
<body>
    <img class="logo" src="{% static 'images/logo.png' %}">
    <div class="barraNav">
        {% if user.first_name == 'admin' %}
            <a href="{% url 'sistema_2:usuarios' %}">USUARIOS</a>
            <a href="{% url 'sistema_2:servicios' %}">SERVICIOS</a>
            <a href="{% url 'sistema_2:productos' %}">PRODUCTOS</a>
            <a href="{% url 'sistema_2:clientes' %}">CLIENTES</a>
        {% endif %}
            <a href="{% url 'sistema_2:proformas' %}">PROFORMAS</a>
            <a href="{% url 'sistema_2:guias' %}">GUIAS</a>
            <a href="{% url 'sistema_2:facturas' %}">FACTURAS</a>
            <a href="{% url 'sistema_2:log_out' %}">SALIR</a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
