{% extends "sistema_2/layout_3.html" %}

{% load static %}

{% block code %}
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="{% static 'sistema_2/notas_credito.js' %}"></script>
{% endblock %}


{% block content%}

<div class="container">
  <h1>Notas de crédito</h1>
  <br>
  <table class="table table-bordered table-hover" id="notasTable" style="font-size: 12px;">
      <thead class="table-dark">
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Codigo del comprobante</th>
              <th scope="col">Tipo del comprobante</th>
              <th scope="col">Fecha de emision</th>
              <th scope="col">Codigo del documento</th>
              <th scope="col">Estado del documento</th>
              <th scope="col">Descargar nota de credito</th>
          </tr>
      </thead>
      <tbody>
        {% for notaCred in nota %}
          <tr>
              <td scope="row">{{ notaCred.id }}</th>
              <td>{{ notaCred.codigoComprobante }}</td>
              <td>{{ notaCred.tipoComprobante }}</td>
              <td>{{ notaCred.fechaEmision }}</td>
              <td>{{ notaCred.codigoNotaCredito }}</td>
              <td><div class="bg-success rounded-pill" style="color: white; padding: 1px 6px 1px 6px; text-align: center;">{{ notaCred.estadoNotaCredito }}</div></td>
              <td style="text-align: center;"><a class="btn btn-info" href="{% url 'sistema_2:descargar_nota_credito' notaCred.id %}"><i class="fas fa-download"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}