{% extends "sistema_2/layout_3.html" %}

{% load static %}

{% block code %}

<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">

<script src="{% static 'sistema_2/cotizaciones.js' %}"></script>

<script>
    function alternar()
    {
        let elemento_soles = document.getElementById('seleccionSoles')
        let elemento_dolares = document.getElementById('seleccionDolares')
        
        if(elemento_soles.checked === true)
        {
            elemento_dolares.disabled = true
        }
        else
        {
            elemento_dolares.disabled = false
        }

        if(elemento_dolares.checked === true)
        {
            elemento_soles.disabled = true
        }
        else
        {
            elemento_soles.disabled = false
        }
    }

    function cargarOpciones(identificador)
    {
        info_comprobante = identificador.substring(0,4)
        dato_comprobante = identificador.substring(4)
        elemento_titulo = document.getElementById('tituloGenerador')
        opciones_generar = document.getElementById('opcionesGenerar')
        generar_documento = document.getElementById('generar_documento')

        generar_documento.method = 'post'
        opciones_generar.innerHTML = ''
        elemento_titulo.innerHTML = ''

        if(info_comprobante === 'fact')
        {
            elemento_titulo.innerHTML = 'Generar Factura'
            url = '/sistema_2/gen_factura_cot/' + dato_comprobante
            //url = '{% ' + '\'' + 'sistema_2:gen_factura_cot' + '\'' + ' '+ dato_comprobante + " %\}"
            console.log(url)
            generar_documento.action = url
        }

        if(info_comprobante === 'guia')
        {
            elemento_titulo.innerHTML = 'Generar Guia'
            url = '/sistema_2/gen_guia_cot/' + dato_comprobante
            //url = '{% ' + '\'' + 'sistema_2:gen_guia_cot' + '\'' + ' '+ dato_comprobante + " %\}"
            console.log(url)
            generar_documento.action = url
        }

        if(info_comprobante === 'bole')
        {
            elemento_titulo.innerHTML = 'Generar Boleta'
            url = '/sistema_2/gen_boleta_cot/' + dato_comprobante
            //url = '{% ' + '\'' + 'sistema_2:gen_guia_cot' + '\'' + ' '+ dato_comprobante + " %\}"
            console.log(url)
            generar_documento.action = url
        }

        console.log(generar_documento)
        opciones_generar.innerHTML = `
            <button type="submit" class="btn btn-primary">Generar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        `

    }
</script>

{% endblock %}


{% block content%}

<div class="container" style="height: 100vh;overflow: scroll;">
  <h1>Cotizaciones</h1>
  <div>
      <a class="btn btn-success" href="{% url 'sistema_2:crear_proforma' %}">Nuevo <i class="fas fa-file-import"></i></a>
  </div>
  <br>
  <div>
    <form class="row g-12" method="post" action="{% url 'sistema_2:proformas' %}">
    {% csrf_token %}
        <div class="col-md-2">
            <label>Fecha inicial</label>
            <input type="date" class="form-control col-md-1" name="fecha_inicio" value="{{ fecha_inicial }}">
        </div>
        <div class="col-md-2">
            <label>Fecha final</label>
            <input type="date" class="form-control col-md-1" name="fecha_fin" value="{{ fecha_final }}">
        </div>
        <div class="col-md-1">
            <br>
            <button type="submit" class="btn btn-success" name="Filtrar">Filtrar</button>
        </div>
        <div class="col-md-2">
            <br>
            <button type="submit" class="btn btn-success" name="Exportar">Exportar Excel</button>
        </div>
        <div class="col-md-3">
            <br>
            <select class="selectpicker form-control" id="seleccionarFormato">
                <option value="" selected></option>
                <option value="V1">FORMATO 1</option>
                <option value="V2">FORMATO 2</option>
            </select>
        </div>
        <div class="col-md-2">
            <br>
            <a class="btn btn-success float-end" style="color: white;" href="{% url 'sistema_2:proformas' %}">Reestablecer</a>
        </div>
    </form>
  </div>
  <br>
  <table class="table table-bordered table-hover" id="proformasTable" style="font-size: 12px;">
      <thead class="table-dark">
          <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Fecha</th>
              <th scope="col">Moneda</th>
              <th scope="col">Tipo</th>
              <th scope="col">Estado</th>
              <th scope="col">Cliente</th>
              <th scope="col">Descargar (Soles)</th>
              <th scope="col">Descargar (Dolares)</th>
              <th scope="col">Generar comprobante</th>
              <th scope="col">Editar</th>
              <th scope="col">Anular</th>
          </tr>
      </thead>
      <tbody>
          {% for cot in cotizaciones %}
          <tr>
              <td>{{ cot.codigoProforma }}</td>
              <td>{{ cot.vendedor.1 }}</td>
              <td>{{ cot.fechaProforma }}</td>
              <td>{{ cot.monedaProforma }}</td>
              <td>{{ cot.tipoProforma }}</td>
              <td>
                {% if cot.estadoProforma == 'Generada' %}
                    <div class="bg-success rounded-pill" style="color: white; padding: 1px 6px 1px 6px; text-align: center;">{{ cot.estadoProforma }}</div>
                {% endif %}
                {% if cot.estadoProforma == 'Emitida' %}
                    <div class="bg-warning rounded-pill" style="color: white; padding: 1px 6px 1px 6px; text-align: center;">{{ cot.estadoProforma }}</div>
                {% endif %}
                {% if cot.estadoProforma == 'Anulada' %}
                    <div class="bg-danger rounded-pill" style="color: white; padding: 1px 6px 1px 6px; text-align: center;">{{ cot.estadoProforma }}</div>
                {% endif %}
              </td>
              {% if cot.cliente.1 == '' %}
              <td>{{ cot.cliente.3 }}</td>
              {% else %}
              <td>{{ cot.cliente.1 }} {{ cot.cliente.2 }}</td>
              {% endif %}
              <td style="text-align: center;">
                <a class="btn btn-info formatoV1" style="display: none;" href="{% url 'sistema_2:descargar_proforma' cot.id %}"><i class="fas fa-download"></i></a>
                <a class="btn btn-info formatoV2" style="display: none;" href="{% url 'sistema_2:nuevoFormatoSoles' cot.id %}"><i class="fas fa-download"></i></a>
              </td>
              <td style="text-align: center;">
                <a class="btn btn-info formatoV1" style="display: none;" href="{% url 'sistema_2:descargar_proforma_dolares' cot.id %}"><i class="fas fa-download"></i></a>
                <a class="btn btn-info formatoV2" style="display: none;" href="{% url 'sistema_2:nuevoFormatoDolares' cot.id %}"><i class="fas fa-download"></i></a>
              </td>
              <td style="text-align: center;">
                {% if cot.estadoProforma == 'Generada' %}
                    {% if cot.cliente.1 == '' %}
                        {% if cot.tipoProforma == 'Productos' %}
                        <a class="btn btn-success" id="fact{{ cot.id }}" onclick="cargarOpciones(this.id)" data-bs-toggle="modal" data-bs-target="#crearDocumento">F</a>
                        <a class="btn btn-success" id="guia{{ cot.id }}" onclick="cargarOpciones(this.id)" data-bs-toggle="modal" data-bs-target="#crearDocumento">G</a>
                        {% else %}
                        <a class="btn btn-success" id="fact{{ cot.id }}" onclick="cargarOpciones(this.id)" data-bs-toggle="modal" data-bs-target="#crearDocumento">F</a>
                        {% endif %}
                    {% else %}
                        {% if cot.tipoProforma == 'Productos' %}
                        <a class="btn btn-success" id="bole{{ cot.id }}" onclick="cargarOpciones(this.id)" data-bs-toggle="modal" data-bs-target="#crearDocumento">B</a>
                        <a class="btn btn-success" id="guia{{ cot.id }}" onclick="cargarOpciones(this.id)" data-bs-toggle="modal" data-bs-target="#crearDocumento">G</a>
                        {% else %}
                        <a class="btn btn-success" id="bole{{ cot.id }}" onclick="cargarOpciones(this.id)" data-bs-toggle="modal" data-bs-target="#crearDocumento">B</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
              </td>
              <td style="text-align: center;">
                <a class="btn btn-warning" href="{% url 'sistema_2:editar_proforma' cot.id %}"><i class="fa fa-edit"></i></a>
              </td>
              <td style="text-align: center;">
                {% if cot.estadoProforma == 'Generada' %}
                    <a class="btn btn-danger" href="{% url 'sistema_2:eliminar_proforma' cot.id %}"><i class="fa fa-trash"></i></a>
                {% else %}
                {% endif %}
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


<!--Verificar moneda de la guia a generar-->
<div class="modal fade" tabindex="-1" role="dialog" id="crearDocumento" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="generar_documento">
            {% csrf_token %}
                <div class="modal-header">
                    <h5 id="tituloGenerador"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="seleccionSoles" name="monedaSoles" onclick="alternar()">
                        <label class="form-check-label" for="flexCheckDefault">
                            Soles
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="seleccionDolares" name="monedaDolares" onclick="alternar()">
                        <label class="form-check-label" for="flexCheckDefault">
                            Dolares
                        </label>
                    </div>
                </div>
                <div class="modal-footer" id="opcionesGenerar">

                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}