{% extends "sistema_2/layout_3.html" %}

{% load static %}


{% block code %}
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
<script src="{% static 'sistema_2/productos.js' %}"></script>

<script>
    function eliminarCampos()
    {
        let nombreArchivo = document.getElementById('nombreArchivo')
        nombreArchivo.value = ''
    }

    function validarNombre()
    {
        let nombreArchivo = document.getElementById('nombreArchivo')
        let cargarArchivo = document.getElementById('cargarArchivo')
        if(nombreArchivo.value === '')
        {
            cargarArchivo.disabled = true
            alert('No se ha cargado ningun archivo')
        }
        else
        {
            if(nombreArchivo.value.length > 4)
            {
                let extensionArchivo = nombreArchivo.value.substring(nombreArchivo.value.length - 4)
                if(extensionArchivo === 'xlsx')
                {
                    cargarArchivo.disabled = false
                    alert('Extension validada, puede proceder a cargar el archivo')
                }
                else
                {
                    cargarArchivo.disabled = true
                    alert('Es un archivo sin extension "xlsx" ')
                }
            }
            else
            {
                cargarArchivo.disabled = true
                alert('Es un archivo sin extension "xlsx" ')
            }
        }
    }

    addEventListener('DOMContentLoaded',()=>{
        let nombreArchivo = document.getElementById('nombreArchivo')
        let cargarArchivo = document.getElementById('cargarArchivo')
        nombreArchivo.onchange = function()
        {
            cargarArchivo.disabled = true
        }
    })
</script>

{% endblock %}


{% block content %}

<div class="container">
    <h1>Registros bancarios</h1>
    <br>
    <div>
        
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#nuevoReg">Registrar Cuenta <i class="fas fa-plus"></i></a>
            <br>
            <br>
            <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#cargarMov">Importar Bancos<i class="fas fa-file-import"></i></a>
        </div>
        <div class="col-md-8">
            <form method="post" action="{% url 'sistema_2:descargar_filtrado' %}" class="row">
            {% csrf_token %}
                <div class="row">
                    <h5>Filtrar informacion :</h5>
                </div>
                <div class="col-md-3">
                    <label>Mes :</label>
                    <select class="selectpicker form-control" name="monthInfo" style="font-size: 12px;">
                        <option value="1" selected>Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Año :</label>
                    <select class="selectpicker form-control" name="yearInfo">
                        <option value="2022" selected>2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select> 
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="submit" class="btn btn-success">Exportar</button>
                </div>
                <div class="col-md-2">
                    <br>
                    <a class="btn btn-success" href="{% url 'sistema_2:comprobar_abonos' %}">Comprobar Abonos</a>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <br>
            <br>
            <a class="btn btn-success float-end" style="color: white;" href="{% url 'sistema_2:exportar_todo' %}">Exportar Bancos<i class="fas fa-file-export"></i></a>
        </div>
    </div>
    <br>
    <div style="height: 1000px; overflow: scroll;">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Banco</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Nro de cuenta</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for cuenta in cuentasBancos %}
                <tr>
                    <td>{{ cuenta.bancoCuenta }}</td>
                    <td>{{ cuenta.monedaCuenta }}</td>
                    <td>{{ cuenta.nroCuenta }}</td>
                    <td>{{ cuenta.saldoCuenta }}</td>
                    <td style="text-align: center;"><a class="btn btn-info" href="{% url 'sistema_2:ver_movimientos' cuenta.id %}"><i class="fa fa-eye"></i></a></td>
                    <td style="text-align: center;"><a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#actualizarReg{{ cuenta.id }}"><i class="fa fa-edit"></i></a></td>
                    <td style="text-align: center;"><a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarReg{{ cuenta.id }}"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="nuevoReg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  class="modal-header">
                <h5 class="modal-title">Nueva cuenta bancaria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'sistema_2:registros_bancarios' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Banco</label>
                            <input type="text" class="form-control" name="bancoCuenta">
                        </div>
                        <div class="col-md-6">
                            <label>Moneda</label>
                            <select class="selectpicker form-control" name="monedaCuenta">
                                <option value="DOLARES" selected>DOLARES</option>
                                <option value="SOLES">SOLES</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label>Nro de cuenta bancaria</label>
                            <input type="text" class="form-control" name="nroCuenta">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Saldo inicial</label>
                            <input type="number" step="0.01" class="form-control" name="saldoCuenta">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>        
    </div>
</div>

{% for cuenta in cuentasBancos %}
<div class="modal fade" tabindex="-1" role="dialog" id="actualizarReg{{ cuenta.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  class="modal-header">
                <h5 class="modal-title">Actualizar cuenta bancaria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'sistema_2:actualizar_cuenta' cuenta.id %}">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Banco</label>
                            <input type="text" class="form-control" name="bancoCuenta" value="{{ cuenta.bancoCuenta }}">
                        </div>
                        <div class="col-md-6">
                            <label>Moneda</label>
                            <select class="selectpicker form-control" name="monedaCuenta">
                                {% if cuenta.monedaCuenta == 'DOLARES' %}
                                    <option value="DOLARES" selected>DOLARES</option>
                                    <option value="SOLES">SOLES</option>
                                {%endif%}
                                {% if cuenta.monedaCuenta == 'SOLES' %}
                                    <option value="DOLARES">DOLARES</option>
                                    <option value="SOLES" selected>SOLES</option>
                                {%endif%}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label>Nro de cuenta bancaria</label>
                            <input type="text" class="form-control" name="nroCuenta" value="{{ cuenta.nroCuenta }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Saldo inicial</label>
                            <input type="number" step="0.01" class="form-control" name="saldoCuenta" value="{{ cuenta.saldoCuenta }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% for cuenta in cuentasBancos %}
<div class="modal fade" tabindex="-1" role="dialog" id="eliminarReg{{ cuenta.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar cuenta bancaria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que dese eliminar esta cuenta?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="{% url 'sistema_2:eliminar_cuenta' cuenta.id %}">Eliminar</a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}



<!--Importar movimientos bancarios-->
<div class="modal fade" tabindex="-1" role="dialog" id="cargarMov">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cargar movimientos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="eliminarCampos()"></button>
            </div>
            <form method="post" action="{% url 'sistema_2:importar_movimientos' %}" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label>Seleccionar archivo de excel : </label>
                        <input class="form-control" type="file" name="archivoExcel" id="nombreArchivo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" onclick="validarNombre()">Validar</button>
                    <button type="submit" class="btn btn-primary" disabled id="cargarArchivo">Cargar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="eliminarCampos()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}