{% extends "sistema_2/layout_3.html" %}

{% load static %}


{% block code %}
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
<script src="{% static 'sistema_2/registro_abonos.js' %}"></script>


{% endblock %}

{% block content %}

<div class="container">
    <h1>Registro de abonos</h1>
    <br>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-success" onclick="nuevoAbonoInfo()" style="color: white;" data-bs-toggle="modal" data-bs-target="#nuevoAbono">Registrar Abono <i class="fas fa-plus"></i></a>
            <br>
        </div>
    </div>
    <br>
    <div style="height: 1000px; overflow: scroll;">
        <table class="table table-bordered table-hover" id="abonosTable">
            <thead class="table-dark">
                <th>Banco</th>
                <th>Moneda</th>
                <th>Nro de operacion</th>
                <th>Cliente</th>
                <th>Factura</th>
                <th>Guía</th>
                <th>Cotizacion</th>
                <th>Vendedor</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </thead>
            <tbody>
                {% for abono in abonos_info %}
                <tr>
                    <td>{{ abono.datos_banco.1 }}</td>
                    <td>{{ abono.datos_banco.2 }}</td>
                    <td>{{ abono.nro_operacion }}</td>
                    <td>{{ abono.datos_cliente.1 }}</td>
                    <td>{{ abono.codigo_comprobante }}</td>
                    <td>{{ abono.codigo_guia }}</td>
                    <td>{{ abono.codigo_coti }}</td>
                    <td>{{ abono.codigo_vendedor }}</td>
                    <td style="text-align: center;"><a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarAbono{{ abono.id }}"><i class="fa fa-edit"></i></a></td>
                    <td style="text-align: center;"><a class="btn btn-danger" href="{% url 'sistema_2:eliminar_abono' abono.id %}"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="nuevoAbono">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  class="modal-header">
                <h5 class="modal-title">Nuevo abono</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'sistema_2:registro_abonos' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label>Banco</label>
                            <select class="selectpicker form-control" name="bancoAbono" required>
                                <option></option>
                                {% for banco in bancos_totales %}
                                <option value="{{ banco.id }}">{{ banco.bancoCuenta }} - {{ banco.monedaCuenta }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Nro de Operacion</label>
                            <input class="form-control" type="text" name="nroOperacionAbono" id="nroOperacionAbono" required>
                        </div>
                        <div class="col-md-6">
                            <label>Cliente</label>
                            <select class="selectpicker form-control" data-live-search="true" name="clienteAbono" required id="clienteAbono">
                                <option></option>
                                {% for cliente in clientes_totales %}
                                    {% if cliente.dni != '' %}
                                    <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }} - {{ cliente.dni }}</option>
                                    {% endif %}
                                    {% if cliente.ruc != '' %}
                                    <option value="{{ cliente.id }}">{{ cliente.razon_social }} - {{ cliente.ruc }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Comprobantes</label>
                            <select class="selectpicker" required id="facturas_cliente" name="facturas_cliente">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Guia</label>
                            <input class="form-control" id="guiaSeleccionada" name="guiaSeleccionada" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Cotizacion</label>
                            <input class="form-control" id="cotiSeleccionada" name="cotiSeleccionada" readonly>
                        </div>
                        <div class="col-md-6">
                            <label>Vendedor</label>
                            <input class="form-control" id="vendedorSeleccionado" name="vendedorSeleccionado" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>        
    </div>
</div>

{% for abono in abonos_info %}
<div class="modal fade" tabindex="-1" role="dialog" id="editarAbono{{ abono.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  class="modal-header">
                <h5 class="modal-title">Editar abono</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'sistema_2:actualizar_abono' abono.id %}">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label>Banco</label>
                            <select class="selectpicker form-control" name="bancoAbono" required>
                                <option></option>
                                {% for banco in bancos_totales %}
                                {% if banco.id|stringformat:"i" == abono.datos_banco.0 %}
                                    <option value="{{ banco.id }}" selected>{{ banco.bancoCuenta }} - {{ banco.monedaCuenta }}</option>
                                {% else %}
                                    <option value="{{ banco.id }}">{{ banco.bancoCuenta }} - {{ banco.monedaCuenta }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Nro de Operacion</label>
                            <input class="form-control" type="text" name="nroOperacionAbono" id="nroOperacionAbono" value="{{ abono.nro_operacion }}" required>
                        </div>
                        <div class="col-md-6">
                            <label>Cliente</label>
                            <select class="selectpicker form-control" data-live-search="true" name="clienteAbono" required id="clienteAbono" disabled>
                                <option></option>
                                {% for cliente in clientes_totales %}
                                    {% if cliente.dni != '' %}
                                        {% if cliente.id|stringformat:"i" == abono.datos_cliente.0 %}
                                            <option value="{{ cliente.id }}" selected>{{ cliente.nombre }} {{ cliente.apellido }} - {{ cliente.dni }}</option>
                                        {% else %}
                                            <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }} - {{ cliente.dni }}</option>
                                        {% endif %}
                                    {% endif %}
                                    {% if cliente.ruc != '' %}
                                        {% if cliente.id|stringformat:"i" == abono.datos_cliente.0 %}
                                            <option value="{{ cliente.id }}" selected>{{ cliente.razon_social }} - {{ cliente.ruc }}</option>
                                        {% else %}
                                            <option value="{{ cliente.id }}">{{ cliente.razon_social }} - {{ cliente.ruc }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Comprobantes</label>
                            <select class="selectpicker" required id="facturas_cliente" name="facturas_cliente" disabled>
                                <option></option>
                                <option value="{{ abono.codigo_comprobante }}" selected>{{ abono.codigo_comprobante }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Guia</label>
                            <input class="form-control" id="guiaSeleccionada" name="guiaSeleccionada" value="{{ abono.codigo_guia }}" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Cotizacion</label>
                            <input class="form-control" id="cotiSeleccionada" name="cotiSeleccionada" value="{{ abono.codigo_coti }}" readonly>
                        </div>
                        <div class="col-md-6">
                            <label>Vendedor</label>
                            <input class="form-control" id="vendedorSeleccionado" name="vendedorSeleccionado" value="{{ abono.codigo_vendedor }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>        
    </div>
</div>
{% endfor %}


{% endblock %}